@import '../../../styles.sass'

.generated-password
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px 32px
    margin: 0 0 24px 0
    background-color: $bg-card

    @media (max-width: 376px)
        margin: 0 0 16px 0
        padding: 16px

    .copy
        background: none
        border: none
        appearance: none
        cursor: pointer

        svg path
            transition: 300ms ease-in-out

        &:hover svg path
            fill: #ffffff

    input[type="text"]
        font-size: 32px
        color: $text-color
        background: none
        border: none
        outline: none
        width: 80%

        &::-webkit-input-placeholder 
            color: $secondary-text  
    
        &:-moz-placeholder 
            color: $secondary-text
        
        &::-moz-placeholder 
            color: $secondary-text
        
        &:-ms-input-placeholder 
            color: $secondary-text
        
        
        @media (max-width: 768px)
            font-size: 24px

    .copy-group
        display: flex
        align-items: center
        gap: 16px
        margin-left: 10px

        .copied
            display: none
            font-size: 18px
            text-transform: uppercase
            color: $primary-green

            @media (max-width: 768px)
                font-size: 16px
     