<div class="options">
  <div class="top">
    <p>Character Length</p>
    <h4 class="char-count">{{ charLength }}</h4>
  </div>
  <div class="slider">
    <input
      type="range"
      [value]="charLength"
      min="0"
      max="20"
      (input)="setSliderValue($event)"
    />
  </div>
  <div class="criteria">
    <label for="uppercase">
      <input
        type="checkbox"
        name="uppercase"
        id="uppercase"
        (change)="setIncludeUppercase($event)"
      />
      Include Uppercase Letters
    </label>
    <label for="lowercase">
      <input
        type="checkbox"
        name="lowercase"
        id="lowercase"
        (change)="setIncludeLowercase($event)"
      />
      Include Lowercase Letters
    </label>
    <label for="numbers">
      <input
        type="checkbox"
        name="numbers"
        id="numbers"
        (change)="setIncludeNumbers($event)"
      />
      Include Numbers
    </label>
    <label for="symbols">
      <input
        type="checkbox"
        name="symbols"
        id="symbols"
        (change)="setIncludeSymbols($event)"
      />
      Include Symbols
    </label>
  </div>
  <div class="strength">
    <p class="label">Strength</p>
    <div class="strength-stat">
      <h5>{{ passwordStrength }}</h5>
      <div class="strength-meter" [attr.data-strength]="passwordStrength">
        <span class="meter"></span>
        <span class="meter"></span>
        <span class="meter"></span>
        <span class="meter"></span>
      </div>
    </div>
  </div>
  <button class="generate" (click)="generateBtnClicked()">
    Generate
    <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg">
      <path
        fill="#24232C"
        d="m5.106 12 6-6-6-6-1.265 1.265 3.841 3.84H.001v1.79h7.681l-3.841 3.84z"
      />
    </svg>
  </button>
</div>
