<div class="container">
  <h4 class="app-title">Password Generator</h4>
  <app-generated-password [generatedPassword]="generatedPass" />

  <app-options
    [charLength]="characterLength"
    [includeUppercase]="includeUppercase"
    [includeLowercase]="includeLowercase"
    [includeNumbers]="includeNumbers"
    [includeSymbols]="includeSymbols"
    (setSliderValueEvent)="setCharLength($event)"
    (setIncludedUppercaseEvent)="setIncludedUppercase($event)"
    (setIncludedLowercaseEvent)="setIncludedLowercase($event)"
    (setIncludedNumbersEvent)="setIncludedNumbers($event)"
    (setIncludedSymbolsEvent)="setIncludedSymbols($event)"
    (generatePassEvent)="generatePassword()"
    [passwordStrength]="passwordStrength"
  />
</div>
