@import '../styles.sass'

.container 
    // border: solid 1px pink
    width: 520px
    margin: 60px 0 0 0 

    @media (max-width: 768px)
        max-width: 343px

    .app-title
        font-size: 24px
        color: $secondary-text
        letter-spacing: 1px
        text-align: center
        margin: 0 0 30px 0

        @media (max-width: 768px)  
            font-size: 16px
            margin: 0 0 16px 0

    


        .pass       
            font-size: 32px

            @media (max-width: 768px)
                font-size: 24px

    

