$font-stack: "JetBrains Mono", monospace
$bg-dark: #100F15
$bg-card: #24232B
$dark-medium: #18171F
$primary-accent: #A4FFAF
$text-color: #F3F2FA
$secondary-text: #807E8B
$yellow-accent: #FACE6E

body 
    font-family: $font-stack
    background-color: $bg-dark
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    color: $text-color